<h3>Login</h3>

<div>

  <%= error_messages_for session.authentication %>
  <% @login_param = Merb::Authentication::Strategies::Multisite::Base.login_param %>
  <% @password_param = Merb::Authentication::Strategies::Multisite::Base.password_param %>
	<% @site_id_param = Merb::Authentication::Strategies::Multisite::Base.site_id_param %>
	<% 
	# make @current_site value. application.rb does not get call 
	# because the authentication is protected at the rack level - which is better, 
	# but it means I have to add the following duplicate line of code as far as I know.
	@current_site = Site.first(:subdomain => request.first_subdomain)
	%>
  
	<form action="<%= slice_url(:merb_auth_slice_multisite, :perform_login) %>" method="POST" accept-charset="utf-8">
		<input type="hidden" name="<%= @site_id_param.to_s %>" value="<%= @current_site.id %>" id="<%= @site_id_param.to_s %>">
	  <input type="hidden" name="_method" value="PUT" />
	  <div class="formRow">
	    <label><%= @login_param.to_s.capitalize %>: <input type="text" name="<%= @login_param.to_s %>" value="" id="<%= @login_param.to_s %>"></label>
	  </div> <!-- close: formRow -->
	  <div class="formRow">
	    <label><%= @password_param.to_s.capitalize %>:<input type="password" name="<%= @password_param.to_s %>" value="" id="<%= @password_param.to_s %>"></label>
	  </div> <!-- close: formRow -->
	  <div class="formRow">
	    <input type="submit" name="Submit" value="Log In" id="Submit">
	  </div> <!-- close: formRow -->
		<div class="formRow">
	    <a href="/forgot_password">Forgot password</a>
	  </div> <!-- close: formRow -->
	</form>
</div>